#grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 600px;
    height: 600px;

    .cell {
        background-color: rgb(233, 233, 233);
        border-left: 1px solid black;
        border-top: 1px solid black;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        width: 200px;
        height: 200px;

        color: rgb(59, 59, 59);
        font-size: 5rem;
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: rgb(107, 107, 107);
        }
    }

    #cell-2, #cell-5, #cell-8 {
        border-right: 1px solid black;
    }

    #cell-6, #cell-7, #cell-8 {
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width: 600px), (max-height: 850px) {
    #grid {
        width: 300px;
        height: 300px;

        .cell {
            width: 100px;
            height: 100px;
            font-size: 2rem;
        }
    }
}