#grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 600px;
    height: 600px;

    .cell {
        background-color: white;
        border-left: 1px solid black;
        border-top: 1px solid black;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        height: 200px;

        font-size: 5rem;

        cursor: pointer;

        &:hover {
            background-color: rgb(163, 163, 163);
        }
    }

    #cell-2, #cell-5, #cell-8 {
        border-right: 1px solid black;
    }

    #cell-6, #cell-7, #cell-8 {
        border-bottom: 1px solid black;
    }
}